body{
    margin: 16px;
    background-image: url(terra.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;  
}

.container{
    display: flex;
}

#text{
    color: white;
    background: radial-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%); 
    background-size: cover;
    text-align: left;
    font-size: 18pt;
    width: 410px;
    margin-top: 1px;
    margin-bottom: 1px;
    border: solid 2px;
    padding: 1rem;
}

.title-container {
    background: radial-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%); 
    background-size: cover;
    text-align: center;
    font-size: 12pt;
    width: 380px;
    margin-top: 0,5rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    border: solid 2px;

}

.letter-yellow {
    color: #c79c2e;
}

.letter-green {
    color: #51b36e;
}
.letter-red {
    color: #943e3c;
}

.app-container {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;    
}

.tile-row {
    margin-bottom: 1rem;
    justify-content: center;
    display:flex;
    box-sizing: border-box;
}

.tile-column {
    background-color: #f4f3f1;
    color: #252525;
    height: 40px;
    width: 48px;
    border-radius: 0.25rem;
    margin-right: 0.5rem;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    display:flex;
}

.typing {
    border: 3px solid #252525;
}

.disabled {
    border: 1px solid #252525;
}

.right {
    background-color: #51b36e;
    color: #f4f3f1;
}

.wrong {
    background-color: #943e3c;
    color: #f4f3f1;
}

.displaced {
    background-color: #c79c2e;
    color: #f4f3f1;
}

.keyboard-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.keyboard-row-container {
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 0.5rem;
    justify-content: center;
    display: flex;
}

.keyboard-row-container.notAlphabetic {
    width:100%
}

.keyboard-row-container:not(.notAlphabetic) button {
    width: 8%;
    height: 40px;
    border-radius: 0.25rem;
    margin-right: 0.25rem;
    border: 1px solid #252525;
    font-size: 16px;
    cursor: pointer;
}