body{
    margin: 16px;
    background-image: url(terra.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;  
}

.container{
    display: flex;
}

#text{
    color: white;
    background: radial-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%); 
    background-size: cover;
    text-align: left;
    font-size: 18pt;
    width: 410px;
    margin-top: 1px;
    margin-bottom: 1px;
    border: solid 2px;
    padding: 1rem;
}

.title-container {
    background: radial-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%); 
    background-size: cover;
    text-align: center;
    font-size: 12pt;
    width: 380px;
    margin-top: 0,5rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    border: solid 2px;

}

.letter-yellow {
    color: yellow;
}

.letter-green {
    color: rgb(14, 241, 14);
}
.letter-red {
    color: red;
}

.app-container {
    padding: 10px;
    max-width: 800px;
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;    
}

.tile-row {
    margin-bottom: 1rem;
    justify-content: center;
    display:flex;
    box-sizing: border-box;
}

.tile-column {
    background-color: white;
    color: black;
    height: 40px;
    width: 48px;
    border-radius: 0.25rem;
    margin-right: 0.5rem;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    display:flex;
}

.typing {
    border: 3px solid black;
}

.disabled {
    border: 1px solid black;
}

.right {
    background-color: green;
    color: white;
}

.wrong {
    background-color: red;
    color: white;
}

.displaced {
    background-color: rgba(255, 255, 0, 0.752);
    color: white;
}

.keyboard-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.keyboard-row-container {
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 0.5rem;
    justify-content: center;
    display: flex;
}

.keyboard-row-container.notAlphabetic {
    width:100%
}

.keyboard-row-container:not(.notAlphabetic) button {
    width: 8%;
    height: 40px;
    border-radius: 0.25rem;
    margin-right: 0.25rem;
    border: 1px solid black;
    font-size: 16px;
    cursor: pointer;
}

@media screen and (max-width: 1020px){
    /* classes gerais */
    
    .container{
        flex-wrap: wrap;
        gap: 40px;    
    }

    .jogo{
        width: 100%;
    }

    .title-container{
        border: none;
        background: none;
        font-size: 20px;
    }

    .keybord-container{
        width: 260%;
    }
}    